.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    max-width: 1200px;
    border-radius: 20px;
    padding: 0 2rem 1rem 2rem;
    width: 100%;
}

.heading {
    text-align: center;
}

.container .pill {
    background: #cbe7ff;
    border-color: #cbe7ff;
    color: #204B7E;
    font-weight: 800;
    padding: 0.5rem 1rem;
}

.gradient {
    background: linear-gradient(90deg, #378CD4 0%, #204B7E 100%);
    background-clip: text;
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text color transparent */
}

.servicesWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
    width: 100%;
}

.serviceImg {
    height: 260px;
    width: 260px;
    border-radius: 10px;
    object-fit: cover;
}

.serviceImg.reversed {
    order: unset;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 260px;
    perspective: 1000px;
    transition: transform 0.3s;
}

.serviceInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
    transform-style: preserve-3d;
    background-color: #fff; /* Assuming a white background */
    border-radius: 8px; /* Optional: rounded corners */
    overflow: hidden; /* Keeps content inside rounded corners */
  }
  
  .service:hover .serviceInner {
    transform: scale(1.05);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  }
  

.serviceContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: left;
    padding: 20px;
}

.serviceContent img {
    height: 2rem;
}


.serviceContent p {
    color: #344054;
    font-size: 1rem;
}

.serviceContent p:nth-of-type(2) {
    margin-top: 1rem;
    font-weight: 300;
}

.title {
    font-size: 1.25rem;
    text-align: left;
    width: 100%;
}

@media (min-width: 768px) {
    .serviceContent {
        align-items: flex-start;
    }
}