.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    max-width: 1200px;
    border-radius: 20px;
    padding: 0 2rem 1rem 2rem;
    width: 100%;
}

.heading {
    color: #0d3e69;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.container .pill {
    background: #a2d4ff;
    border-color: #a2d4ff;
    color: #204B7E;
    font-weight: 800;
    padding: 0.5rem 1rem;
}

.gradient {
    background: linear-gradient(90deg, #378CD4 0%, #204B7E 100%);
    background-clip: text;
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text color transparent */
}

.servicesWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
    width: 100%;
}

.serviceImg {
    height: 260px;
    width: 260px;
    border-radius: 10px;
    object-fit: cover;
}

.serviceImg.reversed {
    order: unset;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 260px;
}

.serviceContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
}

.serviceContent img {
    height: 2rem;
}


.serviceContent p {
    color: #344054;
    font-size: 1rem;
}

.serviceContent p:nth-of-type(2) {
    margin-top: 1rem;
    font-weight: 300;
}

.title {
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    .service {
        /* flex-direction: row; */
    }

    .serviceImg.reversed {
        /* order: 2; */
    }

    .serviceContent {
        align-items: flex-start;
        text-align: left;
    }

    .servicesWrapper {
        /* margin-top: 3rem; */
    }

    /* .heading {
        margin-top: -12rem;
    } */
}