.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.heading {
  color: #fff;
  font-size: 1.5rem;
}

.heading:nth-of-type(2) {
  background: linear-gradient(90deg, #b7ddff 0%, #0966cb 100%);
  background-clip: text;
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text color transparent */
}

.heroCard {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  position: absolute;
  padding: 1rem;
  z-index: 10;
  max-width: 500px;
  margin-top: 3.5rem;

}

.description {
  color: #ffffff;
  margin: 1rem 0;
}

.video {
  height: 400px;
  object-fit: cover;
}


@media (min-width: 768px) {
  .video {
    height: auto;
  }

  .heading {
    font-size: 2rem;
  }

  .hero {
    align-items: flex-start;
  }

  .heroCard {
    border-radius: 10px;
    margin-left: 6rem;
    padding: 2rem;
  }
}
